<!DOCTYPE html>
<html lang="{{ html_language }}" {{ html_attributes }}>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {{ head }}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </head>

    <body {{ body_attributes }}>
        {{ body }}
    </body>
</html>